
.view-main {
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    width: 800px; height: 450px;
    color: white;
    text-align: left;
    box-shadow: 3px 10px 20px 5px rgba(0, 0, 0, 0.5);
    background: rgba(20, 40, 40, 0.5);
    padding: 8px;
}

.view-main .headline {
    margin-left: 18px;
}
.view-main table {
    padding: 18px;
    width: 100%;
}
.view-main thead td {
    color: #ccc;
    font-weight: bold;
    background-color: #333;
    padding: 8px;
}
.view-main thead td span {
    font-weight: regular;
}
.view-main tbody td {
    margin: 15px 0 33px 0;
    font-size: 16px;
    padding: 10px;
    width: 250px;
    border: 1px solid #444;
    border-top: none;
    border-left: none;
    border-right: none;
    background: rgba(20, 20, 20, 0.2);
    color: #ccc;
    outline: none;
    cursor: pointer;
}

.contribute-btn {
    border: 1px solid #0ab4b4;
    background: rgba(20, 20, 20, 0.6);
    font-size: 18px;
    color: white;
    margin: 8px auto;
    padding: 3px 8px;
    transition: .4s;
    cursor: pointer;
    display: block;
    float: left;
  }
  .contribute-btn:hover {
    background: rgba(20, 20, 20, 0.8);
    padding: 3px 18px;
  }

  .view-main input {
    margin: 15px 0 33px 0;
    font-size: 16px;
    padding: 10px;
    border: 1px solid #0ab4b4;
    border-top: none;
    border-left: none;
    border-right: none;
    background: rgba(20, 20, 20, 0.7);
    color: white;
    outline: none;
  }

  .view-main .cont-btn {
    margin: 8px auto;
    border: 1px solid red;
  }
