
.my-main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 800px;
    height: 450px;
    text-align: center;
    color: white;
    box-shadow: 3px 10px 20px 5px rgba(0, 0, 0, 0.5);
    background: rgba(20, 40, 40, 0.5);
}

.my-main table {
    padding: 18px;
    width: 100%;
}

.my-main thead td {
    color: #ccc;
    font-weight: bold;
    background-color: #333;
    padding: 8px;
}

.my-main tbody td {
    margin: 15px 0 33px 0;
    font-size: 16px;
    padding: 10px;
    width: 250px;
    border: 1px solid #444;
    border-top: none;
    border-left: none;
    border-right: none;
    background: rgba(20, 20, 20, 0.2);
    color: #ccc;
    outline: none;
    cursor: pointer;
}
.my-main tbody tr:hover {
    background: rgba(20, 20, 20, 1);
}
.my-main tbody tr:hover td {
    color: #0ab4b4;
}

.add-btn {
    border: 1px solid #0ab4b4;
    background: rgba(20, 20, 20, 0.6);
    font-size: 18px;
    color: white;
    margin: 20px 20px 8px 20px;
    padding: 10px 50px;
    transition: .4s;
    cursor: pointer;
    display: inline-block;
    float:left;
  }
  .add-btn:hover {
    background: rgba(20, 20, 20, 0.8);
    padding: 10px 80px;
  }