.main {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  text-align: center;
  background: none;
}

.main::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background: url(../media/spacebacklarge.jpeg) center;
  opacity: 0.2;
  z-index: -9;
  background-size: cover;
}

.main .header {
  width:100%;
}

.main .header .logo {
  float:left;
  color: white;
  font-size: 18px;
  line-height: 38px;
}


.main .header .logo.icon {
  margin: 8px 8px 0 8px;
  font-size: 38px;
  color: #0ab4b4;
  display: inline-block;
}

.main .header .logo.text {
  margin: 8px 0 0;
  display: inline-block;
}

.main .header .navigate {
  margin: 18px 0 0 58px;
  display: inline-block;
  float: left;
}

.main .header .navigate a {
  color: #ccc;
}

.main .header .navigate a.active {
  color: white;
  font-weight: bold;
}

.main .header .navigate a + a::before {
  content: ' | '
}


.main .header .user {
  float:right;
  margin: 18px;
}

.main .header a {
  cursor: pointer;
  color: #0ab4b4;
  font-weight: bold;
}

.main .clear {
  clear: both;
}

.main .header .load-status {
  margin: 18px 0 0 8px;
  display: inline-block;
  float: left;
}
.main .header .load-bars  {
  margin: 18px 0 0 88px;
  display: inline-block;
  float: left;
}
