body {
  font-family: 'Open Sans', sans-serif;
  color: #ccc;
  padding:0;
  margin:0;
}

body.fromRight {
  direction: rtl
}

.dayOfWeek {
  display: block;
  width:72px;
  height:440px;
  background-color:#ccc;
  float:left;
}


.weekContainer {
  width:600px;
}

a {
  display:cursor
}

.coachSignUp {
  width:500px;
  padding:8px;
}

.learnerSignUp {
  width:500px;
  padding:8px;
}
